@import "../scss/_variables.scss";

.section {
    padding: 10px;
    background-color: $color-orange-light;
    border-radius: 10px;
    border: solid 1px black;
}

.circle1 {
    background-color: $color-green-light;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 5px solid $color-gray-light;
}

.circle2 {
    background-color: $color-green;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.circle3 {
    background-color: $color-orange;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.circle4 {
    background-color: $color-gray-medium;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}