@import "../scss/variables.scss";

.section {
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
    border: solid 1px black;
}

.circle1 {
    background-color: $blue;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 5px solid $grey;
}

.circle2 {
    background-color: $purple;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.circle3 {
    background-color: $pink;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.circle4 {
    background-color: $grey;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}