@import '_variables.scss';

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--color-black);
    margin: 1rem 0;
}

h1,
.h1 {
    font-size: $font-size-xxl;
    color: var(--color-orange);
    font-family: $font-headers;
}

h2,
.h2 {
    font-size: $font-size-xl;
    color: var(--color-green);
    font-family: $font-headers;
}

h3,
.h3 {
    font-size: $font-size-l;
    font-family: $font-mono;
}

h4,
.h4 {
    font-size: $font-size-ml;
}

h5, h6,
.h5, .h6 {
    font-size: $font-size-m;
}

p {
    margin: 1rem 0;
}

small {
    font-size: $font-size-xs;
    margin: .5rem 0;
}