.color-black {
    color: $color-black;
}
.color-bg-black {
    background-color: $color-black;
}

.color-gray_dark {
    color: $color-gray-dark;
}
.color-bg-gray_dark {
    background-color: $color-gray-dark;
}

.color-gray_light {
    color: $color-gray-light;
}
.color-bg-gray_light {
    background-color: $color-gray-light;
}

.color-white {
    color: $color-white;
}
.color-bg-white {
    background-color: $color-white;
}


.color-green {
    color: $color-green;
}
.color-bg-green {
    background-color: $color-green;
}

.color-oranget {
    color: $color-orange;
}
.color-bg-orange {
    background-color: $color-orange;
}