@import '_typography.scss';
@import '_utilities.scss';
@import '_variables.scss';
//V@import 'grid.scss';

html {
    font-size: 62.5%
}

body {
    margin: 0;
    font-family: $font-main;
    font-size: $font-size-m;
    color: var(--color-black);
}

